[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-extensions = "*"

[packages]
django = "*"
unipath = "*"
dj-database-url = "*"
dj-static = "*"
mock = "*"
south = "*"
gunicorn = "*"
django-decouple = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"
